.productRegisterContainer {
  display: flex;
  justify-content: space-around;
  min-height: calc(100vh - 90.4px);
  padding-bottom: 3rem;
}

.labels {
  font-size: 1rem;
  font-family: "Press Start 2P";
  color: var(--black);
}

.cover {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.formRegister {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 620px) {
    .wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      button {
        width: 100%;
      }
    }
  }

  @media (max-width: 500px) {
    button,
    div,
    label {
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    button,
    label {
      font-size: 0.6rem;
      white-space: wrap;
      word-wrap: break-word;
    }

    input::placeholder {
      font-size: 0.6rem;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 0.3rem dashed var(--black);
  margin: 1rem 0;
}

.modalFormRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
