.containerStock {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 2rem;
  min-height: calc(100vh - 90.4px);
  padding: 0 4rem 3rem 2rem;

  h2 {
    font-family: "Press Start 2P";
  }

  .filters {
    width: 150px;
    align-self: self-start;
    font-family: "Press Start 2P";
    font-size: 0.8rem;
    display: none;

    cursor: pointer;

    svg {
      margin-right: 0.5rem;
      margin-bottom: 0.2rem;
      rotate: 270deg;
    }
  }

  .mobileScreen {
    background-color: var(--grey-light);
    position: absolute;
    left: 0;
    min-height: calc(100vh - 90.4px);
    z-index: 10;
    padding: 2rem;
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.75);
    display: none;
  }

  .wrapperButton {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1280px) {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;

    .stockCard {
      width: 90%;
    }

    .fullScreen {
      display: none;
    }

    .filters {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .wrapperButton {
      font-size: 0.6rem;
    }
  }

  @media (max-width: 440px) {
    .wrapperButton {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.addProduct {
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    div {
      button {
        width: 20%;
        &:hover {
          width: 21%;
        }
      }
    }
  }
}
